# API Authentication Key (Shared between local camera clients, FastAPI service, and Web app)
SECRET_KEY=8tne8tne77e86279d!3778tne4

# URL of the FaceRecognitionService (FastAPI microservice)
FACE_RECO_SERVICE_URL=http://localhost:8000

# URL of the ASP.NET Web App backend
BACKEND_URL=https://localhost:7177

# Camera input source: can be an integer (e.g. 0, 1 for local webcams) or RTSP/HTTP URL stream string
CAMERA_SOURCE=0

# Camera Key — matches the Key property of the Camera entity in the Web Database
CAMERA_KEY=1234

# Camera mode: set to True if this camera is for employee check-in/out, or False for student classroom attendance
IS_EMPLOYEE_CAMERA=True
